*{
	font-family: arial;
}

body{
	padding: 0;
	margin: 0;
}
.header{
	background: #111;
	color:#fff;
	padding: 30px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.menu{
	padding: 10px;
	background: #111;
}

.menu a{
	text-decoration: none;
	color: #fff;
	background:#111;
	padding: 10px;
}

.menu a:hover{
	background: #000;
}

.cuerpo{
	background: #eaeaea;
	padding: 30px;
	min-height: 400px;
}

.footer{
	background: #000;
	color: #aaa;
	text-align:center;
	font-size: 10px;
	padding: 50px;
}
