*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

h3{
font-family: 'Arial';
font-size: 14pt;
letter-spacing: 1px;
width: 100%;
background: #5499C7;
padding: 15px;
color: #FFF;
text-align: center;
text-transform: uppercase;
}

#container{
	background: #AAB7B8 ;
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container form{
	background: #FFF;
	width: 350px;
	padding: 10px;
}

#container form img{
	margin: 15px auto;
	text-align: center;
	display: block;
}

#container form input{
	width: 90%;
	padding: 5px;
	font-size: 16pt;
	display: block;
	margin: 25px auto;
	border-radius: 5px;
	border: 1px solid #34495E ;
	text-align: center;
}

#container form input[type="submit"]{
	background: #52BE80;
	padding: 10px;
	color:#FFF;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
}

.alert{
	font-family: 'Arial';
	font-size: 16px;
	text-align: center;
}
.form_register{
	width: 450px;
	margin: auto;
}
.form_register{
	color: #000;
}

hr{
	border: 0;
	background: #000;
	height: 1px;
	margin: 16px 0;
	display: block;
}

form{
	background: #FFF;
	margin: auto;
	padding: 20px 50px;
	border: 1px solid;
}

label{
	display: block;
	font-size: 14pt;
	font-family: 'Arial';
	margin: 15px auto 5px auto;
}

input,select{
	display: block;
	width: 100%;
	font-size: 14pt;
	padding: 5px;
	border: 1px solid #85929e;
	border-radius: 5px;
}

.Btn_save{
font-size: 12pt;
background: #27AE60;
padding: 10px;
color: #FFF;
letter-spacing: 1px;
border: 0;
cursor: pointer;
margin: 15px auto;
}

.Register_alert{
	width: 100%
	background: #27AE60;
	border-radius: 6px;
	margin: 20px auto;
}

.msg_error{
	color: #e65656;
}

.msg_save{
	color: #126e00;
}

.Register_aler p{
padding: 10px;
}

